.box{
    height: 800px;
    width: 800px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(30deg);
}
.box>div{
    height: 300px;
    width: 300px;
    position: absolute;
    margin-top: 300px;
    margin-left: 500px;
}
.box>div:nth-child(1){
    background-color: rgb(238, 130, 135);
    opacity: 0.8;
    
}
.box>div:nth-child(2){
    background-color: rgb(146, 130, 238);
    opacity: 0.8;
    transform: rotateY(90deg);
    transform-origin: left;
}
.box>div:nth-child(3){
    background-color: rgb(134, 238, 130);
    opacity: 0.8;
    transform: rotateY(-90deg);
    transform-origin: right;
}
.box>div:nth-child(4){
    background-color: rgb(238, 222, 130);
    opacity: 0.8;
    transform: translateZ(-300PX);
}
.box>div:nth-child(5){
    background-color: rgb(238, 173, 130);
    opacity: 0.8;
    transform: rotateX(90deg);
    transform-origin: bottom;
}
.box>div:nth-child(6){
    background-color: rgb(238, 130, 130);
    opacity: 0.8;
    transform: rotateX(-90deg);
    transform-origin: top;
}